.sidebar {
  position: fixed;
  top: 80px;
  width: 300px;
  height: 650px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color:  transparent;
  box-shadow: 0px 0px 20px rgba(201, 241, 212, 0.1);
  background-color: #f4fbfd  ;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media (max-width: 1199px) {
  .sidebar {
    left: -400px;
  }
}

.sidebar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .5s;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all .5s;
}

@media (min-width: 1200px) {

  .main,
  .footer {
    margin-left: 300px;
  }
}

@media (max-width: 1199px) {
  .toggle-sidebar .sidebar {
    left: 0;
  }
}

.toggle-sidebar .main,
.toggle-sidebar .footer {
   margin-left: 0;
}

@media (min-width: 1200px) {

  

  .toggle-sidebar .sidebar {
    left: -300px;
  }
}

.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #012641;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}

.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  color: #012641;
  transition: 0.3;
  padding: 10px 15px;
  border-radius: 4px;
}

.sidebar-nav .nav-link i {
  font-size: 16px;
  margin-right: 10px;
  color: #012641;
}

.sidebar-nav .nav-link.collapsed {
  color: #012641;
  background-color: transparent;
}

.sidebar-nav .nav-link.collapsed i {
  color: #012641;
}

.sidebar-nav .nav-link:hover {
  color: #000;
  background: #dcdbdb;
}

.sidebar-nav .nav-link:hover i {
  color: #000;
}

.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}

.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}

.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}

.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #012970;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}

.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}

.sidebar-nav .nav-content a:hover,
.sidebar-nav .nav-content a.active {
  color: #012641;
}

.sidebar-nav .nav-content a.active i {
  background-color: #012641;
}

.sign-out{
 width: 50px;
 border-radius: 5px;
 border: 0px;
}

.search-btn{
 width: 50px;
 border-radius: 5px;
 border: 0px;
 color: #fff;
 background-color: #012641;
}
