<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/utilisateur">
                <i class="bi bi-grid"></i>
                <span>Add acte</span>
            </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
            <a class="nav-link " href="/depense/addUser">
                <i class="bi bi-grid"></i>
                <span>Saisie depense</span>
            </a>
        </li><!-- End Dashboard Nav -->


    </ul>

  </aside><!-- End Sidebar-->