<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="/admin/acceuil" class="logo d-flex align-items-center">
            <img th:src="@{/assets/img/hyper.svg}" alt="">
            <span class="d-none d-lg-block">Back office</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
    <ul class="d-flex align-items-center">
        <li class="nav-item dropdown pe-3">
            <a href="/"> 
                <button type="button" class="logOut btn"><i class="bx bx-log-out"></i></button>
            </a>
        </li>
    </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->