<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="/admin/acceuil">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>CRUD</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/patient/liste">
              <i class="bi bi-circle"></i><span>Patient</span>
            </a>
          </li>
          <li>
            <a href="/typeActe/liste">
              <i class="bi bi-circle"></i><span>Type d'acte</span>
            </a>
          </li>
          <li>
            <a href="/acte/liste">
              <i class="bi bi-circle"></i><span>Acte</span>
            </a>
          </li>
          <li>
            <a href="/depense/liste">
              <i class="bi bi-circle"></i><span>Depense</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

    </ul>

  </aside><!-- End Sidebar-->